/*
font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
html {
  height: 100%;
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
}
body {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}
.define-message {
  margin-top: 10%;
}
.receive-message {
  font-weight:lighter;
  border-color: #134d71;
  background-color: #134d71;
  color: #ffffff;
  margin-top: 5px;
  border-radius: 5px;
  width: 165px;
  margin-top: 8px;
  font-family: 'Quicksand', sans-serif;
}
.container {
  background: #ffffff;
  width: 450px;
  height: 80px;
  border-radius: 5px;
  margin: auto;
  margin-top: auto;
  font-style: italic;
}
img {
  height: 80px;
  margin-top: 13px;
}
.meditate {
  background: #ffffff;
  width: 625px;
  height: 110px;
  border-radius: 5px;
  margin: auto;
  margin-top: 5%;
}
p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  padding-top: 40px;
}
.mantra {
  margin-top: 25px;
}
.affirmation {
  margin-left: 125px;
}
.hidden {
  display: none;
}
.user-box {
  background: #ffffff;
  width: 450px;
  height: 80px;
  border-radius: 5px;
  margin: auto;
  margin-top: ;
  font-style: italic;
}
#user-text {
  margin-top: 5%;
  width: 300px;
  font-family: 'Quicksand', sans-serif;
  background: #f7e4bf;
  border-color: #134d71;
  border-width: thin ;
  border-radius: 5px;
  text-align: center;
}
.submit {
  font-weight:lighter;
  border-color: #134d71;
  background-color: #134d71;
  color: #ffffff;
  margin-top: 5px;
  border-radius: 5px;
  width: 165px;
  margin-top: 8px;
  font-family: 'Quicksand', sans-serif;
}
.create-message {
margin-top: 80px;
}
.delete-message {
  margin-top: 8px;
  font-weight:lighter;
  border-color: #134d71;
  background-color: #134d71;
  color: #ffffff;
  border-radius: 5px;
  width: 176px;
  font-family: 'Quicksand', sans-serif;
}
.delete-button {
  margin-top: 10px;
}
x
