/*
font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
html {
  height: 100%;
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
}
body {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}
h3 {
  margin-top: 10%;
}
.receive-message {
  font-weight:lighter;
  border-color: #134d71;
  background-color: #134d71;
  color: #ffffff;
  margin-top: 5px;
  border-radius: 5px;
  width: 165px;
  margin-top: 8px;
}
.container {
  background: #ffffff;
  width: 450px;
  height: 80px;
  border-radius: 5px;
  margin: auto;
  margin-top: auto;
  font-style: italic;
}
.meditate {
  background: #ffffff;
  width: 625px;
  height: 110px;
  border-radius: 5px;
  margin: auto;
  margin-top: 5%;
}
img {
  height: 80px;
  margin-top: 13px;
}
.mantra {
  margin-top: 25px;
}
.affirmation {
  margin-left: 125px;
}
